<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../include/navbar'); %>
    <% if (errorMessage) { %>
        <div class="error-message">
            <p><%= errorMessage %></p>
        </div>
    <% } %>
    <form class="form-login" action="/reset" method="POST">
        <p>Enter your email for password reset.</p>
        <div class="form-control">
            <label for="email">Email</label>
            <input 
                type="email" 
                name="email">
        </div>
        <button class="login-submit" type="submit">Reset</button>
    </form>
</body>
</html>