<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../include/navbar'); %>
    <form action="/signup" method="POST">
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-control">
            <label for="email">Nickname</label>
            <input type="nickname" name="nickname">
        </div>
        <div class="form-control">
            <label for="email">Password</label>
            <input type="password" name="password">
        </div>
        <div class="form-control">
            <label for="email">Confrim Password</label>
            <input type="password" name="confrimPassword">
        </div>
        <button type="submit">Signup</button>
    </form>
</body>
</html>