* {
  padding: 0px;
  margin: 0px;
}

.message-card {
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: 600px;
}

.message-card p {
  padding: 5px;
  margin: 5px;
}

.message-card hr {
  width: 100%;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a,
.navbar button {
  font: inherit;
  background: transparent;
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
}

.navbar a:hover,
.navbar button:hover {
  background-color: rgb(87, 194, 87);
  color: black;
}

.signup-submit,
.login-submit,
.message-submit {
  border: none;
  cursor: pointer;
  color: white;
  padding: 14px 28px;
  background-color: rgb(31, 184, 31);
  font-size: 14px;
}

.message-submit:hover,
.login-submit:hover,
.signup-submit:hover {
  background-color: rgb(25, 145, 25);
}

.navbar a.active {
  background-color: #4caf50;
  color: white;
}

/* .main-header__item a,
.main-header__item button {
  
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
} */
