<div class="navbar">
        <a 
            class="<%= path == '/' ? 'active' : '' %>"
            href="/">Main page</a>
    <% if (isLogged) { %>
        <a 
            class="<%= path == '/add-message' ? 'active' : '' %>"
            href="/add-message">Add message</a>
    <% } %>
    <% if (!isLogged) { %>
        <a 
            class="<%= path == '/login' ? 'active' : '' %>"
            href="/login">Login</a>
        <a 
            class="<%= path == '/signup' ? 'active' : '' %>"
            href="/signup">Signup</a>
    <% } %>
    <% if (isLogged) { %>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    <% } %>
</div>