<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add message</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../include/navbar'); %>

    <form class="form-add" action="/add-message" method="POST">
        <div class="form-control">
            <textarea name="msgtext" id="msgtext" cols="40" rows="10"></textarea>
        </div>
        <button class="message-submit" type="submit">Add!</button>
    </form>
</body>
</html>