<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Index</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    <%- include('../include/navbar'); %>

    <% messages.map(message => {%>
        <div class="message-card">
            <% if (isLogged) { %>
            <p>Author: <%= message.nickname %></p>
            <hr>
            <% } else { %>
            <p>Author: Anon</p>
            <% } %>
            <p><%= message.msgText %></p>
        </div>
    <% }) %>
    
  </body>
</html>
