<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Index</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    <div class="navbar">
            <a href="/">Main page</a>
        <% if (isLogged) { %>
            <a href="/add-message">Add message</a>
        <% } %>
        <% if (!isLogged) { %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        <% } %>
        <% if (isLogged) { %>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        <% } %>
    </div>

    <% messages.map(message => {%>
        <div class="message-card">
            <% if (isLogged) { %>
            <p>Author: <%= message.nickname %></p>
            <hr>
            <% } else { %>
            <p>Author: Anon</p>
            <% } %>
            <p><%= message.msgText %></p>
        </div>
    <% }) %>
    
  </body>
</html>
