<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <a href="/add-message">Add message</a>
    <a href="/add-message">Login</a>
    <a href="/add-message">Signup</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, incidunt?</p>
    <%= tryingEjs %>
    <ul>
        <% messages.map(message => {%>
            <li><%= message.msgText %></li>
        <% }) %>
    </ul>
</body>
</html>